<div class="flex flex-wrap px-14 ml-40">
  <div class="w-full">
      <div class="w-1/3">
          <div class="flex p-14 w-full bg-green-700">
              <div class="w-1/5 self-center">
                <img class="w-9 h-9" src="./assets/img/profile.png" alt="">
              </div>
              <div class="w-4/5">
                <span class="font-poppins text-lg font-bold">Free Distribution</span>
                <br>
                <span class="font-poppins text-md">Manager boutique - alencon - h/f</span>
                <br>
                <span class="font-poppins text-xs text-our-blue">Alencon</span>
              </div>
          </div>
      </div>
      <div class="w-2/3"></div>
  </div>
</div>