<div class="py-4 px-20">
  <div class="flex items-center">

    <div class="w-1/3">
      <a class="font-poppins text-our-blue-light text-md flex underline" href="#">
        Offres Recommandées
        <img class="ml-3" src="./assets/svg/briefcase.svg">
      </a>
    </div>

    <div class="w-1/3 ml-28">
      <a class="font-poppins items-center text-our-blue-light text-md flex underline" href="#">
        Recherche Avancée
        <img class="ml-3 h-6 w-6" src="./assets/svg/tune.svg">
      </a>
    </div>

    <div class="flex justify-end w-full">

      <div class="inline px-2 text-center">
        <span class="text-our-blue font-poppins text-xl font-bold ">0</span> <br>
        <label class="font-poppins text-xs text-our-blue-light">Invitation</label>
      </div>

      <div class="inline px-2 text-center border-l-2">
        <span class="text-our-blue font-poppins text-xl font-bold ">10</span> <br>
        <label class="font-poppins text-xs text-our-blue-light">Candidatures</label>
      </div>

      <div class="inline px-2 text-center border-l-2">
        <span class="text-our-blue font-poppins text-xl font-bold ">0</span> <br>
        <span class="font-poppins text-xs text-our-blue-light">Mise en relation</span>
      </div>
    </div>

  </div>
</div>

<div class="bg-our-gray px-20 py-5">
  <div class="bg-white p-10 rounded-lg">
    <div class="flex ">
      <input class="appearance-none font-poppins text-xs w-5/12 bg-our-gray text-our-blue placeholder-our-blue-light border border-gray-200 rounded py-3 px-4 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Chercher par titre">
      <div class="relative ml-5 w-5/12">
        <span class="absolute inset-y-0 left-0 flex items-center pl-2">

          <img class="h-4 w-3" src="./assets/svg/pin.svg">

        </span>
        <input class="appearance-none font-poppins text-xs w-full bg-our-gray text-our-blue placeholder-our-blue-light border border-gray-200 rounded py-3 px-2 pl-9 leading-tight focus:outline-none focus:bg-white focus:border-gray-500" id="grid-last-name" type="text" placeholder="Paris">

      </div>
      <div class="w-2/12 ml-5">
        <select class="block appearance-none text-xs w-full bg-white border border-gray-200 text-our-blue-light py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-our-blue-light" id="grid-state">
          <option selected disabled>Localisation Exacte</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
    </div>
<!-- selecs -->
    <div class="flex mt-6">
      <div class="flex justify-between mr-5 w-5/12">
        <select class="appearance-none text-xs mr-6 bg-white border border-gray-200 text-our-blue-light py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-our-blue-light" id="grid-state">
          <option selected disabled>Type de contarct</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
        <select class="appearance-none text-xs mr-6 bg-white border border-gray-200 text-our-blue-light py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-our-blue-light" id="grid-state">
          <option selected disabled>Toutes les offres</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
        <select class="appearance-none text-xs mr-2 bg-white border border-gray-200 text-our-blue-light py-3 px-4 pr-8 rounded leading-tight focus:outline-none focus:bg-white focus:border-our-blue-light" id="grid-state">
          <option selected disabled>Années d'expérience</option>
          <option>Option 1</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
      </div>
      <div class="flex justify-end w-7/12">
        <a href="#" name="aa" class="flex text-our-blue text-lg">
          <img class="w-3 h-4" src="./assets/svg/notification-blue.svg">
          <label for="aa" class="font-poppins ml-2 underline text-our-blue text-xs"> Créer une alerte emploi</label>
        </a>
      </div>
    </div>
  </div>
  
</div>

<!-- TAB NAV -->
<div class="flex flex-wrap mx-20">
  <div class="w-full flex">
      <div class="w-1/3 shadow">
          <div class="flex shadow p-10 hidden">
            <div class="relative inline-block">
              <img class="inline-block object-cover w-12 h-12 rounded-full" src="./assets/img/profile.png" alt="Profile image"/>
              <span class="absolute bottom-0 right-0 inline-block w-3 h-3 bg-green-600 border-2 border-white rounded-full"></span>
            </div>
            <label class="inline-flex justify-center text-lg font-bold px-4 py-2 font-poppins">
              Dino Floyd Zad
            </label>
          </div>
          <!-- offers -->
          <!-- filters -->
          <div class="flex w-full px-4 pt-10">
            <div class="flex w-1/2 items-center">
              <img class="h-2.5 w-3 mr-2" src="./assets/svg/menu.svg" alt="">
              <label class="font-poppins font-bold text-our-blue text-sm">Les plus pertinent</label>
            </div>
            <div class="flex w-1/2 justify-end">
              <label class=" font-poppins text-our-orange text-2xs underline">5 Offres d’emploi</label>
            </div>
            
          </div>
          <div class="py-10 px-6">
            <!-- 1 -->
            <div [ngClass]="openTab != 1 ? 'default-mode' : 'selected-mode'" (click)="toggleTabs(1)">
              <div class="w-1/5 self-center">
                <img [ngClass]="openTab != 1 ? 'layer-default' : 'layer-selected'" [src]="openTab != 1 ?'./assets/svg/layer-default.svg':'assets/svg/layer-selected.svg'">
              </div>
              <div class="w-4/5">
                <span class="font-poppins text-md font-bold">Free Distribution</span>
                <br>
                <span class="font-poppins text-xs">Manager boutique - alencon - h/f</span>
                <br>
                <span class="font-poppins font-bold text-2xs text-our-blue">Alencon</span>
                <span class="flex justify-end font-bold font-poppins text-2xs text-our-blue-light">
                  <img class="h-3 w-3 mr-2" src="assets/svg/calander.svg"> Il ya 2 jours
                </span>
              </div>
            </div>
            <!-- 2 -->
            <div [ngClass]="openTab != 2 ? 'default-mode' : 'selected-mode'" (click)="toggleTabs(2)">
              <div class="w-1/5 self-center">
                <img [ngClass]="openTab != 2 ? 'layer-default' : 'layer-selected'" [src]="openTab != 2 ?'./assets/svg/layer-default.svg':'./assets/svg/layer-selected.svg'">
              </div>
              <div class="w-4/5">
                <span class="font-poppins text-md font-bold">Free Distribution</span>
                <br>
                <span class="font-poppins text-xs">Manager boutique - alencon - h/f</span>
                <br>
                <span class="font-poppins text-2xs text-our-blue">Alencon</span>
                <span class="flex justify-end font-bold font-poppins text-2xs text-our-blue-light">
                  <img class="h-3 w-3 mr-2" src="assets/svg/calander.svg"> Il ya 2 jours
                </span>
              </div>
            </div>
            <!-- 3 -->
            <div [ngClass]="openTab != 3 ? 'default-mode' : 'selected-mode'" (click)="toggleTabs(3)">
              <div class="w-1/5 self-center">
                <img [ngClass]="openTab != 3 ? 'layer-default' : 'layer-selected'" [src]="openTab != 3 ?'./assets/svg/layer-default.svg':'./assets/svg/layer-selected.svg'">
              </div>
              <div class="w-4/5">
                <span class="font-poppins text-md font-bold">Free Distribution</span>
                <br>
                <span class="font-poppins text-xs">Manager boutique - alencon - h/f</span>
                <br>
                <span class="font-poppins text-2xs text-our-blue">Alencon</span>
                <span class="flex justify-end font-bold font-poppins text-2xs text-our-blue-light">
                  <img class="h-3 w-3 mr-2" src="assets/svg/calander.svg"> Il ya 2 jours
                </span>
              </div>
            </div>
            <!-- 4 -->
            <div [ngClass]="openTab != 4 ? 'default-mode' : 'selected-mode'" (click)="toggleTabs(4)">
              <div class="w-1/5 self-center">
                <img [ngClass]="openTab != 4 ? 'layer-default' : 'layer-selected'" [src]="openTab != 4 ?'./assets/svg/layer-default.svg':'./assets/svg/layer-selected.svg'">
              </div>
              <div class="w-4/5">
                <span class="font-poppins text-md font-bold">Free Distribution</span>
                <br>
                <span class="font-poppins text-xs">Manager boutique - alencon - h/f</span>
                <br>
                <span class="font-poppins text-2xs text-our-blue">Alencon</span>
                <span class="flex justify-end font-bold font-poppins text-2xs text-our-blue-light">
                  <img class="h-3 w-3 mr-2" src="assets/svg/calander.svg"> Il ya 2 jours
                </span>
              </div>
            </div>
            <!-- 5 -->
            <div [ngClass]="openTab != 5 ? 'default-mode' : 'selected-mode'" (click)="toggleTabs(5)">
              <div class="w-1/5 self-center">
                <img [ngClass]="openTab != 5 ? 'layer-default' : 'layer-selected'" [src]="openTab != 5 ?'./assets/svg/layer-default.svg':'./assets/svg/layer-selected.svg'">
              </div>
              <div class="w-4/5">
                <span class="font-poppins text-md font-bold">Free Distribution</span>
                <br>
                <span class="font-poppins text-xs">Manager boutique - alencon - h/f</span>
                <br>
                <span class="font-poppins text-2xs text-our-blue">Alencon</span>
                <span class="flex justify-end font-bold font-poppins text-2xs text-our-blue-light">
                  <img class="h-3 w-3 mr-2" src="assets/svg/calander.svg"> Il ya 2 jours
                </span>
              </div>
            </div>
          </div>
      </div>
      <!-- TABS -->
      <div class="w-2/3 h-52 p-10" *ngIf="openTab == 1">
        <div class="flex  justify-end">
          <div class=" flex w-2/5">
            <img class="h-16 w-16 bg-our-blue rounded-lg p-3" src="./assets/svg/layer-selected.svg"/>
            <div class=" ml-6">
              <label><p class="font-poppins font-bold text-sm">Ratp</p>
                <p class="font-poppins text-gray-500 text-sm">(H/F)</p>
                <p class="font-poppins text-our-blue-light text-sm">Non Precisé</p></label>
            </div>
          </div>
          <div class="w-3/5 flex items-center justify-end">
            <button class=" text-our-blue mr-5 h-10 border-2 text-sm border-our-blue font-poppins px-4 rounded-full inline-flex items-center">
              <img class="mr-2" src="assets/svg/speaker.svg">
              <span class="font-semibold">Postuler</span>
            </button>
            <a class="bg-our-green mr-5 h-10 text-white text-sm font-poppins px-4 rounded-full flex items-center">
              <img class="mr-2" src="assets/svg/save.svg">
              <span>Enregistrer</span>
            </a>
            <img class="bg-our-gray rounded-full px-2 py-4" src="assets/svg/more.svg">
            <!-- <svg xmlns="http://www.w3.org/2000/svg" class="h-11 w-11 self-center bg-our-gray rounded-full text-our-blue-light border-none" fill="none" viewBox="0 0 24 24" stroke="currentColor">
              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M8 12h.01M12 12h.01M16 12h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z" />
            </svg> -->
          </div>
        </div>

        <div class="flex my-10">
          <div class="w-1/2 p-5 mr-5 bg-our-gr bg-our-gray rounded-md">
            <p class="font-poppins leading-6 font-semibold text-sm">Informations sur  l’entreprise</p>
            <p class="font-poppins leading-6 text-xs">Nom de l’entreprise : RATP <br>
              Ville : Non Précisé<br>
              Taille : 100 - 100 employés<br>
              Industrie : Pharmacetique</p>
          </div>
          <div class="w-1/2 p-5 bg-our-gr bg-our-gray rounded-md">
            <p class="font-poppins font-semibold leading-6 text-sm">Détail du contrat</p>
            <p class="font-poppins font-medium leading-6 text-xs">Type de contart : Nom Précisé<br>
              Fonction de travail : (H/F)<br>
              Date de publication :Nom Précisé<br>
              Date début de contrat : Nom Précisé</p>
          </div>
      </div>

      <div>
        <label class="font-poppins font-bold text-xl text-our-blue">Offre</label>
        <div class="w-full bg-gray-200 h-1">
          <div class="bg-our-blue h-1 rounded-md" style="width: 10%"></div>
        </div>
        <div class="mt-5">
          <p class="font-poppins font-bold text-sm leading-6 text-our-blue">A propos du recruteur</p>
            <p class="font-poppins text-xs leading-6">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de texte pour réaliser un livre anonyme assembla ensemble des morceaux  spécimen de polices de texte. Il n'a pas fait que survivre cinq siècles, mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
        </div>
        <div class="mt-5 pb-5">
          <p class="font-poppins font-bold text-sm leading-6 text-our-blue">Description du poste</p>
            <p class="font-poppins text-xs leading-6">Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de Lorem Ipsum est simplement du faux texte employé dans la composition et la mise en page avant impression. Le Lorem Ipsum est le faux texte standard de l'imprimerie depuis les années 1500, quand un imprimeur anonyme assembla ensemble des morceaux de fatr v texte pour réaliser un livre spécimen de polices de mais s'est aussi adapté à la bureautique informatique, sans que son contenu n'en soit modifié.</p>
        </div>
      </div>
      </div>
      <div class="w-2/3 h-52 p-10 flex mt-14 place-content-center" *ngIf="openTab != 1">
        <span class="text-our-blue text-2xl font-poppins">
          Pas encore de contenu {{openTab}} !!
        </span>
      </div>

  </div>
</div>
